# NOTE:特にバージョンに意味はない。参考にしたもののバージョンを使っている
Django>=3.2.4,<3.3
# HACK:このバージョンだと少しまずいかも、古いsetup.pyを使っているらしい？
# 　　みんなもdocker upしたら赤字のメッセージで表示されるんで、確認してみて。
psycopg2>=2.8.6,<2.9

Pillow==9.4.0
django-bootstrap5

Markdown==3.4.1

djangorestframework==3.14.0
django-betterforms
django-extra-views
