{% extends 'base.html' %}
{% block title %}HOME{% endblock %}
{% block content %}
<div class="container">
    <h1>記事一覧</h1>
    <div class="list-group">
        {% for markdown_object in markdown_objects %}
        <a href="markdown_detail/{{ markdown_object.md_data.id }}" class="row list-group-item list-group-item-action d-flex justify-content-between align-items-start">
            <div class="col-9">
                <div class="fw-bold mb-2">{{ markdown_object.md_data.title }}</div>
                <span>{{ markdown_object.md_data.created_at }}</span>
            </div>
            <div class="col-2">
                <div class="row">
                    <div class="col-6">
                        <i class="bi bi-heart me-1"></i>
                        <span class="me-2 badge bg-primary rounded-pill">{{ markdown_object.nice_num }}</span>
                    </div>
                    <div class="col-6">
                        <i class="bi bi-chat-square-text me-1"></i>
                        <span class="badge bg-secondary rounded-pill">{{ markdown_object.comment_num }}</span>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}