/* html {
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    width: 80%;
    margin: 0 auto;
}
 */
/* header */
.navbar {
    background-color: greenyellow;
    /* height: 80px; */
}

/* nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
/* .logo {
    height: 100%;
}
nav h1 {
    line-height: 80px;
    margin: 0;
}
ul {
    height: 100%;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
li {
    padding-left: 30px;
}
a {
    text-decoration: none;
    color: black;
} */

/* main */
/* main {
    margin-top: 50px;
    padding-bottom: 100px;
} */
.title {
    margin: 40px 0;
}
.title > input {
    width: 100%;
    height: 40px;
}

/* footer */
/* footer {
    position: sticky;
    z-index: 999;
    bottom: 0;
    left: 0; 
    width: 100%;
    margin-top: 100px;
    padding: 20px 40px;
    background: #eee;
    box-sizing: border-box;
} */

.form-btn >  div{
    text-align: right;
}
