{% block content %}
<div class="main-container">
    <div class="container">
        <div class="breadcrumb">
            <a href="" class="section">TOP</a>
            <a class="user-info">就活生プロフィール</a>
        </div>
        <div class="ui segment">
            <div class="content">
                <div class="header"><h3>就活生プロフィール</h3></div>
                <div class="ui divided bulleted list">
                    <div class="item">学年：</div>
                    <div class="item">大学：</div>
                    <div class="item">使用可能な言語：</div>
                    <div class="item">icon：</div>
                </div>
            </div>
        </div>
        <a class="button" href="">登録情報変更</a>
    </div>
</div>
{% endblock %}