{% block content %}
<div class="main-container">
    <div class="container">
        <div class="breadcrumb">
            <a href="" class="section">TOP</a>
            <a class="user-info">企業プロフィール</a>
        </div>
        <div class="ui segment">
            <div class="content">
                <div class="header"><h3>企業プロフィール</h3></div>
                <div class="ui divided bulleted list">
                    <div class="item">会社概要：</div>
                    <div class="item">事業内容：</div>
                    <div class="item">icon：</div>
                    <div class="item">ホームページURL：</div>
                </div>
            </div>
        </div>
        <a class="button" href="">登録情報変更</a>
    </div>
</div>
{% endblock %}